#root {
    width: 100%;
    height: 100%;
    // overflow: hidden;
}
.App {
    height: 100%;
}
.layout {
    .logo {
        color: #fff;
        float: left;
        margin-right: 20px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
}
.site-layout-content {
    display: flex;
}

.ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
        height: 100%;
    }
}
.dtwitter-home {
    height: 100%;
}
.register {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-home {
    display: flex;
    padding: 20px;
}
.user-info {
    margin-right: 30px;
}
.user-twitter {
    flex: 1;
}
.user-container {
    .global-user {
        width: 300px;
        margin-right: 70px;
    }
}
.follow-total {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #d9d9d9;
    margin-bottom: 7px;
}
.contract-modal {
    .ant-modal-header {
        background-color: #6d71e4;
    }
}
